on: 
  push:
    branches:
      - dev

jobs:
  push-to-registry:
    name: Push docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        id: checkout
        uses: actions/checkout@v2
      - name: push to docker hub 
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}
          repository: provide/vault
          tags: development