name: Unit Tests
on:
  push:
    branches:
      - dev
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout vault
        uses: actions/checkout@v2
        with:
          path: 'vaultyvault'
      - run: echo "LOG_LEVEL=info" >> $GITHUB_ENV
      - run: echo "DATABASE_HOST=localhost" >> $GITHUB_ENV
      - run: echo "DATABASE_NAME=vault_dev" >> $GITHUB_ENV
      - run: echo "DATABASE_PORT=5432" >> $GITHUB_ENV
      - run: echo "DATABASE_USER=vault" >> $GITHUB_ENV
      - run: echo "DATABASE_PASSWORD=vault" >> $GITHUB_ENV
      - run: echo "DATABASE_SUPERUSER=prvd" >> $GITHUB_ENV
      - run: echo "DATABASE_SUPERUSER_PASSWORD=prvdp455" >> $GITHUB_ENV
      - run: echo "DATABASE_SSL_MODE=disable" >> $GITHUB_ENV
      - run: echo "DATABASE_LOGGING=false" >> $GITHUB_ENV
      - run: echo "REDIS_HOSTS=localhost:6379" >> $GITHUB_ENV
      - run: echo "SEAL_UNSEAL_VALIDATION_HASH=0x7cff64a2d2b709dd9df196000be6237875bafe0a92873fd9fd9f35c00808f309" >> $GITHUB_ENV
      - run: echo "TAGS=unit" >> $GITHUB_ENV
      - run: echo "JWT_SIGNER_PUBLIC_KEY=${{ secrets.DEV_JWT }}" >> $GITHUB_ENV
      - name: Setup golang
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'
      - run: docker-compose -f ./ops/docker-compose-db.yml up -d
        working-directory: vaultyvault
      - run: go mod tidy
        working-directory: vaultyvault
      - run: go mod vendor
        working-directory: vaultyvault
      - run: GOPATH=~/go ./ops/ensure_dependencies.sh
        working-directory: vaultyvault
      - run: go build -v -o ./.bin/vault_migrate ./cmd/migrate
        working-directory: vaultyvault
      - run: ./.bin/vault_migrate
        working-directory: vaultyvault
      - run: go test ./... -v -race -timeout 1800s -tags="$TAGS"
        working-directory: vaultyvault
      - run: docker-compose -f vaultyvault/ops/docker-compose-db.yml down
      - run: docker volume rm ops_vault-db
